<div class="ui-s1280">
  <div class="content" *ngIf="dados.content">

    <ui-card class="content__cards elevate-on-toolbar" *ngIf="dados.media">
      <section class="content__cards__card">
        <h1 class="content__cards__card__title">Média</h1>
        <h1 class="content__cards__card__subtitle">{{ dados.media | number:'1.2-2' }}</h1>
      </section>
      <section class="content__cards__card">
        <h1 class="content__cards__card__title">Mediana</h1>
        <h1 class="content__cards__card__subtitle">{{ dados.mediana }}</h1>
      </section>
      <section class="content__cards__card" (click)="nextModa()">
        <h1 class="content__cards__card__title">Moda {{ dados.moda[numModa].title }}</h1>
        <h1 class="content__cards__card__subtitle">{{ dados.moda[numModa].value || dados.moda }}</h1>
      </section>
      <section class="content__cards__card" *ngIf="dados.medidaSeparatriz">
        <h1 class="content__cards__card__title">Medida Separatriz</h1>
        <h1 class="content__cards__card__subtitle">{{ dados.medidaSeparatriz | number:'1.2-2' }}</h1>
      </section>
      <section class="content__cards__card">
        <h1 class="content__cards__card__title">Desvio Padrao</h1>
        <h1 class="content__cards__card__subtitle">{{ dados.DPR | number:'1.2-2' }}</h1>
      </section>
      <section class="content__cards__card">
        <h1 class="content__cards__card__title">Coeficiente de variação</h1>
        <h1 class="content__cards__card__subtitle">{{ dados.coeficienteVariacao | number:'1.2-2' }}</h1>
      </section>
    </ui-card>

    <div class="content__card">
      <app-table [data]="dados.content" [title]="dados.title"></app-table>
    </div>
    <div class="content__card">
      <ui-card class="elevate-on-toolbar" *ngIf="dados.type !== 0">
        <smn-graphic [data]="graphic"
                     [legend]="[]"
                     [config]="{
                   colorSelected: '#263238',
                   lineColor: '#E0E0E0',
                   colors: ['#78909C', '#546E7A'],
                   noSpace: dados.type === 2 ? true : false
             }"
                     [title]="'Grafico'"
                     [subtitle]="'Elementos de um grafico'">
          <section class="menu-info">
            <div class="menu-info__header">
              {{ graphicService.info.legend }}
            </div>
            <div class="menu-info__header">
              <b>Quantidade: {{ graphicService.info.value }}</b>
            </div>
            <div class="menu-info__header">
              Data: {{ graphicService.info.column }}
            </div>
          </section>
        </smn-graphic>
      </ui-card>

      <ui-card class="elevate-on-toolbar" style="margin-top: 16px;" *ngIf="dados.type === 0">
        <ui-card-title>Gráfico</ui-card-title>
        <ui-card-content style="display: flex; justify-content: center;">
          <canvas id="pie" height="400"></canvas>
        </ui-card-content>
      </ui-card>
    </div>
    <div style="height: 80px;"></div>
  </div>
</div>
